<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="customerService" class="club.csiqu.learn.framework.spring.demo.aop.CustomerService"
          autowire="no">
        <property name="name" value="chen"/>
        <property name="url" value="www.baidu.com"/>
    </bean>
    <bean id="helloBeforeMethod"
          class="club.csiqu.learn.framework.spring.demo.aop.HelloBeforeMethod"/>
    <bean id="customerServiceProxy"
          class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="customerService"/>
        <property name="interceptorNames">
            <list>
                <value>helloBeforeMethod</value>
            </list>
        </property>
    </bean>
</beans>