<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 开启 aspectj切面支持 -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <bean id="sayHelloService"
          class="club.csiqu.learn.framework.spring.demo.aop.parameter.service.impl.HelloServiceImpl"/>
    <bean id="parameterAspect"
          class="club.csiqu.learn.framework.spring.demo.aop.parameter.aspect.ParameterAspect"/>

    <aop:config>
        <aop:aspect ref="parameterAspect" order="1">
            <aop:around method="execute"
                        pointcut="@annotation(club.csiqu.learn.framework.spring.demo.aop.parameter.annotation.ServiceParameter)"/>
        </aop:aspect>
    </aop:config>

</beans>